## Convert two lists into a dictionary

In [ ]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

dict={}

for i,j in zip(keys,values):
  dict[i]=j
dict

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

## Merge two Python dictionaries into one

In [ ]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

dict1.update(dict2)
dict1

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [ ]:
sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

sampleDict["class"]["student"]["marks"]["history"]

80

## Initialize dictionary with default values

In [ ]:
employees = ['Kelly', 'Emma']
defaults = {"designation": 'Developer', "salary": 8000}

{'Kelly': {'designation': 'Developer', 'salary': 8000}, 'Emma': {'designation': 'Developer', 'salary': 8000}}

dt={}
for i in employees:
  dt[i]=defaults
dt

{'Kelly': {'designation': 'Developer', 'salary': 8000},
 'Emma': {'designation': 'Developer', 'salary': 8000}}

## Create a dictionary by extracting the keys from a given dictionary

In [ ]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"}
# {'name': 'Kelly', 'salary': 8000}

# Keys to extract
nd={}
for k,v in sample_dict.items():
  if k=="name" or k=="salary":
    nd[k]=v
nd

{'name': 'Kelly', 'salary': 8000}

## Delete a list of keys from a dictionary

In [ ]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}

# Keys to remove
keys = ["name", "salary"]

ndf={}

for k,v in sample_dict.items():
  if k not in keys:
    ndf[k]=v
ndf

{'age': 25, 'city': 'New york'}

## Check if a value exists in a dictionary

In [ ]:
sample_dict = {'a': 100, 'b': 200, 'c': 300}

value=200

if 200  in sample_dict.values():
  print('200 is in dictionary')

200 is in dictionary

## Rename key of a dictionary

In [ ]:
sample_dict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}

for k in sample_dict.keys():
  if k=="city":
    k=="location"
sample_dict

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'city': 'New york'}

In [ ]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}

sample_dict['location'] = sample_dict.pop('city')
print(sample_dict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

## Get the key of a minimum value from the following dictionary

In [ ]:
sample_dict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}
print(min(sample_dict, key=sample_dict.get))

Math

## Write a Python program to change Brad’s salary to 8500 in the following dictionary.

In [ ]:
sample_dict = {
    'emp1': {'name': 'Jhon', 'salary': 7500},
    'emp2': {'name': 'Emma', 'salary': 8000},
    'emp3': {'name': 'Brad', 'salary': 500}
}

sample_dict["emp2"]["salary"]=8500

sample_dict

{'emp1': {'name': 'Jhon', 'salary': 7500},
 'emp2': {'name': 'Emma', 'salary': 8500},
 'emp3': {'name': 'Brad', 'salary': 500}}