## Exercise 1: Reverse a list in Python

In [ ]:
list1= [100, 200, 300, 400, 500,600]
list1.reverse()
print(list1)

[600, 500, 400, 300, 200, 100]

In [ ]:
# start_index(include): end_index(exclude):step(size)(optional)

# for i in list1:      for accessing every element
#   print(i)


# for i in range(len(list1)):      for accessing every index
#   print(i)


# for index,value in enumerate(list1):   for accessing both index and value
#   print(index,value)

0 600
1 500
2 400
3 300
4 200
5 100

In [ ]:
# mm=[100,200,300,400]  ##append
# nn=[150,250,350]

# for i in nn:
#   mm.append(i)
# mm

[100, 200, 300, 400, 150, 250, 350]

In [ ]:
list1.insert(4,250)        ##insert
list1

[600, 500, 400, 300, 250, 250, 200, 100, 800, 800, 800, 800, 800]

In [ ]:
taniya=[100,200,"name","is","mayank"]       ##to modify the items in list
 
taniya[-1]="taniya"
taniya[:2]=[300,400]

taniya

[300, 400, 'name', 'is', 'taniya']

In [ ]:
mt=[5,24,12,45]  ## modifying all elements

for i in range(0,len(mt)):
  a=mt[i]**2
  mt[i]=a
mt

[25, 576, 144, 2025]

In [ ]:
mt.pop()  #last element

mt.remove(576)
mt

[25, 144]

In [ ]:
mt.pop(1)

576

In [ ]:
del mt

In [ ]:
my_list = [2, 4, 61, 18, 10, 12]

print(my_list)

[2, 4, 61, 18, 10, 12]

In [ ]:
my_list.sort(reverse=True)
my_list

[61, 18, 12, 10, 4, 2]

In [ ]:
my_list

[61, 18, 12, 10, 4, 2]

In [ ]:
a=sum(my_list)/len(my_list)
a

17.833333333333332

In [ ]:
l1 = [10, 20, 30, 40, 50]*5
l2 = [60, 70, 80, 60]

l1.index(30,2,5)

2

## concatenate two lists index-wise

In [ ]:
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]

list3=[]
a=""
for i in range(len(list1)):
  a=list1[i]+list2[i]
  list3.append(a)
list3

['My', 'name', 'is', 'Kelly']

In [ ]:
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]

r=''
list3=[]
for i,j in zip(list1,list2):
  r=i+j
  list3.append(r)
list3

['My', 'name', 'is', 'Kelly']

## Turn every item of a list into its square

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7]

numbers=[i**2 for i in numbers]
numbers

[1, 4, 9, 16, 25, 36, 49]

## Concatenate two lists in the following order

In [ ]:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
r=''
list3=[]
for i in list1:
  for j in list2:
    r=i+j
    list3.append(r)
list3

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

##  Iterate both lists simultaneously

In [ ]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

for i in range(len(list1)):
  print(list1[i],list2[::-1][i])

list3

10 400
20 300
30 200
40 100

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

## Remove empty strings from the list of strings

In [ ]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
ls=[]
for i in list1:
  if i:
    ls.append(i)
ls

['Mike', 'Emma', 'Kelly', 'Brad']

##  Add new item to list after a specified item

In [ ]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

num=7000

list1[2][2].append(num)

list1

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

## Extend nested list by adding the sublist

In [ ]:
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]

# sub list to add
sub_list = ["h", "i", "j"]

list1[2][1][2].extend(sub_list)

list1

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

## Replace listâ€™s item with new value if found

In [ ]:
list1 = [5, 10, 15, 20, 25, 50, 20]
rep=200

a=list1.index(20)
list1[a]=200

list1

[5, 10, 15, 200, 25, 50, 20]

Remove all occurrences of a specific item from a list.

In [ ]:
list1 = [5, 10, 15, 20, 25, 50, 20]
list1.remove(20)
list1.remove(20)