## Exercise 1: Add a list of elements to a set

In [ ]:
sample_set = {"Yellow", "Orange", "Black"}
sample_list = ["Blue", "Green", "Red"]

# for i in sample_list:
#   sample_set.add(i)
# sample_set


sample_set.update(sample_list)
sample_set

{'Black', 'Blue', 'Green', 'Orange', 'Red', 'Yellow'}

## Return a new set of identical items from two sets

In [ ]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

l1=list(set1)
l2=list(set2)
s=set()
for i in set1:
  if i in set2:
    s.add(i)
s

{30, 40, 50}

In [ ]:
print(set1.intersection(set2))

{40, 50, 30}

## Update the first set with items that donâ€™t exist in the second set

In [ ]:
set1 = {10, 20, 30}
set2 = {20, 40, 50}

# set1 {10, 30}

print(set1.difference(set2))

{10, 30}

## Remove items from the set at once

In [ ]:
set1 = {10, 20, 30, 40, 50}

print(set1.difference_update({10,20,30}))
print(set1)

None
{40, 50}

##  Return a set of elements present in Set A or B, but not both

In [ ]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

print(set1.union(set2))

{70, 40, 10, 50, 20, 60, 30}

##  Check if two sets have any elements in common. If yes, display the common elements

In [ ]:
set1 = {10, 20, 30, 40, 50}
set2 = {60, 70, 80, 90, 10}

print(set1.intersection(set2))

{10}

## Update set1 by adding items from set2, except common items

In [ ]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

set1.symmetric_difference_update(set2)
set1

{10, 20, 60, 70}

##  Remove items from set1 that are not common to both set1 and set2

In [ ]:
from os import set_inheritable
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

set1.intersection_update(set2)
set1

{30, 40, 50}